<h1>Notifications (<%=@notifications.count%>)</h1>
  <%@notifications.each do |notification|%>
  <div>
    <b><%=notification.notifiable.full_name%></b><span> sent a <%=link_to notification.notifiable_type, admin_comments_path%> </span>
  </div>
  <div>
    <div>
      <%=time_ago notification.created_at%>
    </div>
  </div>
  <br><hr><br>
<%end%> 
<%=will_paginate @notifications%>
