<h1>Messages(<%=@messages.count%>)</h1>
	 <%@messages.each do |message| %>
		<div>
			<b><%=message.full_name%></b><span> sent a message (<%=link_to "Show message deatils", admin_message_path(message)%>)</span>
		</div>

		<div>
			<%=time_ago message.created_at%>
		</div>
		<br>
		<hr>
		<br>
	<%end%>
<%= will_paginate @messages%>