<%=form_for [:admin, @post] do |f|%>
 <%= render "layouts/validation_form", obj: @post%>
  <%= f.hidden_field :user_id, value: @user.id %>
	<div>
		<%=f.label :Title%><br>
		<%=f.text_field :title%>
	</div>
	<div>
		<%=f.label :Content%><br>
		<%=f.text_area :content, :class => "tinymce", :rows => 20, :cols => 40%>
		<%= tinymce %>
	</div>
	<div>
		<%=f.label :Intro%>
		<%=f.text_area :intro%>
	</div>

	<div>
		<%=f.label :image%>
		<%=f.file_field :image%>
	</div>
	<div>
		<br>
	<%= f.select :tag_ids, Tag.all.collect { |t| [t.name, t.id]}, {prompt: "Select a Tag"},  id: "tag_select", multiple: 'multiple' %>
	</div>

	<%=f.submit%>
<%end%>