
<%=form_for [:admin, @post] do |f|%>
  <%= f.hidden_field :user_id, value: @user.id %>
	<div>
		<%=f.label :Title%><br>
		<%=f.text_field :title%>
	</div>
	<div>
		<%=f.label :Content%><br>
		<%=f.text_area :content%>
	</div>
	<div>
		<br>
	<%= f.select :tag_ids, Tag.all.collect { |t| [t.name, t.id]}, {prompts: "Select a tag"}, id: "tag_select", multiple: 'multiple' %>
	</div>

	<%=f.submit%>
<%end%>