<%= form_for [:admin, user] do |f| %>

	<%= render "layouts/validation_form", obj: @user%>
	<div>
		<%=f.label :First_Name%><br>
		<%=f.text_field :first_name%>
	</div>
	<div>
		<%=f.label :Last_Name%><br>
		<%=f.text_field :last_name%>
	</div>
	<div>
		<%=f.label :About%><br>
		<%=f.text_area :about%>
	</div>
	<div>
		<%=f.label :Email%><br>
		<%=f.email_field :email%>
	</div>
	<div>
		<%=f.label :Password%><br>
		<%=f.password_field :password%>
	</div>
	<div>
		<%=f.submit%>
	</div>
<%end%>