<!DOCTYPE html>
<html>
  <head> <%= tinymce_assets %>
    <script type="text/javascript" src="/assets/tinymce.js"></script>
    <script src="https://cdn.tiny.cloud/1/no-api-key" referrerpolicy="origin"></script>
    
    <title>Blog Admin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'admin/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
   
      <div>
        <%=link_to "Users", admin_users_path%>
        <%=link_to "Posts", admin_posts_path%>
        <%=link_to "Messages", admin_messages_path%>
        <%=link_to "Tags", admin_tags_path%>
        <%=link_to "Comments", admin_comments_path%>
        <%=link_to "Notifications", admin_notifications_path%>
        <%=link_to "Log out", admin_session_path(session[:user_id]), style: 'float: right', method: :delete%>
      </div>
    <%end%>

    <%if flash[:notice]%>
      <div><%=flash[:notice]%></div>
    <%elsif flash[:alert]%>
      <div><%=flash[:alert]%></div>
    <%end%>
    
    <%= yield %>

  </body>
</html>
